/* Add CSS Styling */
.odd {
    background-color: pink;
    font-family: Verdana, "Dejavus Sans";
}

#second {
    color: blue;
    font-size: 36px;
}

.adjust-font {
    font-size: 24px;
}

#fourth {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}