body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  display: flex;
  align-items: center;
  padding: 16px;
  flex-grow: 0;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
  font-size: 24px;
  padding: 16px;
}

.sidebar ul {
  padding: 0px;
  margin: 0px;
}

.sidebar li {
  list-style-type: none;
  padding: 0px;
}

.sidebar a {
  padding: 0px;
  text-decoration: none;
  color: white;
}

.deck {
  padding: 48px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  display: flex;
  width: 250px;
  padding: 8px;
}

.content {
  display: flex;
  flex-grow: 1;
}